# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
build

# Turborepo
.turbo

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Docker data volumes
/data